@import "../util-variables";

.missionViewMainWrapper {
  background-color: var(--main-background);;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow-y: scroll;
}

.missionViewWrapper {
  max-width: $max-width;
  width: 100%;
  flex-direction: column;
}

.missionViewInfoWrapper {

}

.missionViewTitleH3 {
  margin: 0;
  font-size: $font-size-10m10;
  color: var(--text-medium-color);
}

.missionViewInfoP {
  font-size: $font-size-5m2-5;
  align-self: center;
  color: var(--text-medium-color);;
}

.missionImgWrapper {
  height: 30vw;
}

.missionImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.missionTagShareWrapperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vw;
  margin: 2vw 3vw;
}

.missionApplyWrapperDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.missionApplyButton {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 10vw;
  border-radius: 1em;
  border: solid 2px #545454;
}

.missionApplySpan {
  font-size: $font-size-2m2;
}