@import "styles/util-variables";

.photoViewClass {
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
}

$maxHeight: 100vh;
$maxWidth: 100vw;

.photoViewDiv {
  position: fixed;
  height: $maxHeight;
  width: $maxWidth;
  // make center
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}

$imgMaxHeight: 90vh;
$imgMaxWidth: 90vw;
.photoViewImg {
  position: fixed;
  max-width: $imgMaxWidth;
  max-height: $imgMaxHeight;
}

.photoViewCaption {
  position: fixed;
  width: 80vw;
  height: 15vh;
  bottom: 0;
  color: white;
  font-size: $font-size-3m2;
  text-align: center;

  span {
    width: 80vw;
  }
}

.photoViewCaptionBackground {
  position: fixed;
  width: 100vw;
  height: 15vh;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}