@import "util-variables";

@font-face {
  font-family: 'Linotte-Regular';
  src: url('assets/fonts/Linotte-Regular.woff');
}

@font-face {
  font-family: 'Linotte-Bold';
  src: url('assets/fonts/Linotte-Bold.woff');
}

@font-face {
  font-family: 'Linotte-Light';
  src: url('assets/fonts/Linotte-Light.woff');
}

@font-face {
  font-family: 'Linotte-Heavy';
  src: url('assets/fonts/Linotte-Heavy.woff');
}

@font-face {
  font-family: 'Linotte-SemiBold';
  src: url('assets/fonts/Linotte-SemiBold.woff');
}


.dark {
  --main-background: #F8F8F8;
  --background-gray: #DCDCDC;
  --primary-color: #257ECF;
  --input-line-color: #9A9A9A;
  --text-light-gray-color: #808080;
  --text-light-black-color: #808080;
  --text-medium-color: #000000;
  --thin-border: #000000;
  --thick-border: #2E2E2E;
  --time-color: #858585;
  --icon-gray-color: #818181;
}

.light {
  --main-background: #F8F8F8;
  --background-gray: #DCDCDC;
  --primary-color: #257ECF;
  --input-line-color: #9A9A9A;
  --primary-green-color: #4BB543;
  --text-light-gray-color: #808080;
  --text-light-black-color: #262626;
  --text-medium-color: #000000;
  --thin-border: #000000;
  --thick-border: #2E2E2E;
  --time-color: #858585;
  --icon-gray-color: #818181;
  --tagging-gray-color: #4A4A4A;
  --soldier-icon-color: #4A4A4A;
}


body {
  position: fixed;
  overscroll-behavior-y: contain;
  font-family: Linotte-SemiBold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--main-background); /* Main Background color */

  width: 100%; /* Adjust this for the app main width */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h3 {
    margin: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

// font
@value fontSizeInputs: 5vw;

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#root {
  touch-action: pan-x pan-y;
  position: fixed;
  width: 100%;
  height: 100%;
  //overflow-x: hidden;
  //overflow-y: hidden;
  transition: margin-top 0.2s;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.headerHeight {
  height: $h-height;
}

.primaryColor {
  color: #5161E9;
}
