// font size
$font-size-5m5: calc(min(5vw, 5rem));
$font-size-4m4: calc(min(4vw, 4rem));
$font-size-10m10: calc(min(10vw, 10rem));
$font-size-3m3: calc(min(3vw, 3rem));
$font-size-2-5m5: calc(min(2.5vw, 5rem));
$font-size-2m2: calc(min(2vw, 2rem));
// font weight
$font-weight-light: 100;
$font-weight-heavy: 900;

// color
$primary-colour: #3462ed;
$primary-green-colour: #4bb543;
$tag-gray-colour: #ababab;
$border-color: #1d1d1d;

// height
$h-height: 10%;
$header-pointer-height: 1.5vh;

// position
$main-component-top: 10vh;

// border
$medium-round-border: 0.5em;
$light-round-border: 0.3em;
$heavy-round-border: 1.5em;
$heavy-border-size: 0.8vw;

// border thickness
$border-thickness: 0.5vw;
$border-radius-light: 0.6em;

// padding value
$padding-value-8: 8vw;
$padding-value-2: 2vw;

// size
$profile-img-medium: 8vw;

// width value
$max-width: 60em;