@import "styles/util-variables";

.loginMainWrapper {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100vh;
  margin: 0 10vw;
  max-width: $max-width;
}

.loginH3 {
  display: flex;
}
