@import "styles/util-variables";

.signUpMainWrapper {
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100vh;
  margin: 0 10vw;
  max-width: $max-width;
}


.signUpH3 {
  display: flex;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}


@value inputFieldHeight: 8vw;

.signUpInputEmail {
  display: flex;
  border-radius: $medium-round-border;
  height: inputFieldHeight;
  margin-bottom: 5vw;
}

.signUpInputPassword {
  display: flex;
  height: inputFieldHeight;
  border-radius: $medium-round-border;
}

.signUpDescriptionP {
  color: var(--text-light-gray-color);
}

.submitButton {
  background-color: var(--primary-color);
  border: $heavy-border-size $border-color solid;
  border-radius: $heavy-round-border;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  height: inputFieldHeight;
}

.signUpBreakLine {
  align-self: center;
  position: relative;
  color: var(--input-line-color);
  width: 80vw;
  font-size: $font-size-3m2;
  text-align: center;
}

.signUpBreakLineWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vw;
}

$separatorLineWidth: 30vw;
$positionLength: 130%;
.signUpBreakLineBefore {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--input-line-color);
}

.signUpBreakLineAfter {
  width: 100%;
  border-bottom: solid 1px var(--input-line-color);
}