@import "styles/util-variables";

@value paddingValue: 2em;

@value fontSizeInput: #{$font-size-2m2};

@value borderThickness: 1px;

.addMissionMainWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: paddingValue 0;
  overflow-y: scroll;
}

.addMissionWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(#{$max-width} - 16rem);
  max-width: $max-width;
}

.addMissionButton {
  position: absolute;
  top: 0;
  right: 0;
}

.accountSettingsH3 {
  font-size: $font-size-5m2-5;
  color: var(--text-medium-color);
  margin-top: 1em;
}

.addMissionTitleH3 {
  color: var(--text-medium-color);
  font-size: fontSizeInput;
  font-weight: $font-weight-light;
}

.addMissionTitleH3Disabled {
  color: var(--text-light-gray-color);
  font-size: fontSizeInput;
  font-weight: $font-weight-light;
}

.addMissionRemoteWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2em;

  // remote checkbox
  input {
    -webkit-appearance: none;
    border: gray solid borderThickness;
    height: 2em;
    width: 2em;
    margin-left: 1em;
  }

  input:checked {
  }

  input:checked:after {
    content: '\2714';
    position: relative;
    left: 4px;
    font-size: 1.5em;
    color: var(--primary-green-color);
  }
}

.addMissionRemoteSpan {
  background-color: #84868a;
}

.addMissionLocationWrapper {
  display: flex;
  width: 60%;
  margin-bottom: 2em;

  input {
    border-radius: 0.2em;
    border: gray solid borderThickness;
    height: 1em;
    width: 90%;
  }
}

%inputBasics {
  border: none;
  border-bottom: borderThickness var(--input-line-color) solid;
  margin-bottom: 1em;
}

.inputOneLine {
  @extend %inputBasics;
  font-size: $font-size-3m2;
}

.inputBox {
  font-size: $font-size-3m2;
}

.inputBoxDisabled {
  font-size: $font-size-3m2;
  background-color: var(--background-gray);
}

.addMissionAddPhotosWrapper {

}

.addMissionAddPhotos {

}

.addMissionAddPhotosImg {

}

.accountTextAreaWrapper {
  width: 100%;
  min-height: 15em;

  textarea {
    font-size: $font-size-3m2;
  }
}

.accountTextArea {
  border: borderThickness var(--input-line-color) solid;
  border-radius: 10px;
  padding: 1em;
  font-size: $font-size-5m2-5;
  font-family: inherit;
  height: 100%;
  width: 92%;
  margin-bottom: 10vw;
}

