@import "styles/util-variables";

.chatViewMainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.chatViewWrapper {
  max-width: $max-width;
  width: 100%;
  height: 100%;
  max-height: 80%;
}

.chatViewMessageWrapper {
  height: 100%;
  overflow-y: scroll;
  border: 1px blue solid;
}

.chatUserInfoWrapper {

}

.chatMessageWrapper {

}

.chatMessageSpan {

}

.chatMessageInputForm {
  width: 100%;
}

.chatMessageInputWrapper {
  display: flex;
  width: 100%;
  padding: 2em 0;
}

.chatMessageInput {
  width: 100%;
}

.chatMessageInputButton {

}

.hireButton {

}