@import "styles/util-variables";

.headerStyle {
  height: $h-height;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  transition: top 0.1s, height 0.1s;
  background-color: #b8d7ff;
  z-index: 1;
  max-width: $max-width;
  //background-color: var(--main-background);
}

.headerProfileDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
}

.headerNameWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: $font-size-3m2
  }
}

.scroll_up {
  margin-top: 10vh;
  background-color: white;
}

.scroll_down {
  margin-top: 0;
  background-color: lawngreen
}

.headerH3Wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  h3 {
    color: var(--text-medium-color);
  }
}

$profileImgSize: 5em;
.headerImageContainer {
  height: $profileImgSize;
  width: $profileImgSize;
}

.headerImage {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.headerPointer {
  width: 50vw;
  background-color: var(--primary-color);
  align-self: flex-end;
}