@import "styles/util-variables";

.photoAddWrapper {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
}

.photoAddImgWrapper {
  position: absolute;
  touch-action: none;
}

.photoAddImg {
  max-width: 90vw;
}

@value captionHeight: 13vh;

.photoAddCaptionSpan {
  width: 92vw;
  position: fixed;
  z-index: 2;
  color: white;
  font-size: $font-size-5m2-5;
  left: 4vw;
  bottom: calc(captionHeight + 2vh);
  display: flex;
  justify-content: space-between;
}

.photoAddCaption {
  padding: 1em 5vw;
  border: 0;
  position: fixed;
  width: 92vw;
  height: captionHeight;
  bottom: 0;
  color: white;
  font-size: $font-size-3m2;
  background: linear-gradient(rgba(0, 0, 0, 0.2), black);
}

.photoAddCaption::placeholder {
  color: white;

}

// Add photos Component
.addPhotosWrapper {
  background-color: orange;
  position: absolute;
  height: 100%;
  width: 100%;
}

.addPhotosLabel {
  height: 100%;
  width: 100%;
  font-size: $font-size-2m1;
  display: flex;
  justify-content: center;
  align-items: center;
}