.photoSliderWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.photoSliderImgContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  touch-action: none;
}

.photoSliderImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photoSliderCaption {

}