@import "styles/util-variables";

.priceTag {
  color: var(--text-light-black-color);
}

.locationTag {
  color: var(--text-light-gray-color);
}

.tagStatusBase {
  color: white;
  padding: 0.5em 0.5em 0.2em 0.5em;
  border-radius: $light-round-border;
}

.tagStatusCompleted {
  @extend .tagStatusBase;
  background-color: $primary-green-colour;
}

.tagStatusHiring {
  @extend .tagStatusBase;
  background-color: $tag-gray-colour;
}

.tagStatusOnGoing {
  @extend .tagStatusBase;
  background-color: var(--primary-color);
}
