@import "../util-variables";

.missionViewClass {
  background-color: var(--main-background);;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  height: 20vh;
}

.missionViewInfoWrapper {

}

.missionViewTitleH3 {
  margin: 0;
  font-size: $font-size-10m10;
  color: var(--text-medium-color);
}

.missionViewInfoP {
  font-size: $font-size-5m5;
  align-self: center;
  color: var(--text-medium-color);;
}

.missionImgWrapper {
  height: 30vw;
}

.missionImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.missionTagShareWrapperDiv {
  display: flex;
  flex-direction: row;
  height: 5vw;
  margin: 2vw 3vw;
}

.missionApplyWrapperDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.missionApplyButton {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vw;
  width: 10vw;
  border-radius: 1em;
  border: solid 2px #545454;
}

.missionApplySpan {
  color: white;
  font-size: $font-size-2m2;
}