@import "../util-variables";

.photoViewClass {
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
}

$maxHeight: 100vh;
$maxWidth: 100vw;

.photoViewDiv {
  position: fixed;
  height: $maxHeight;
  width: $maxWidth;
  // make center
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

$imgMaxHeight: 90vh;
$imgMaxWidth: 90vw;
.photoViewImg {
  position: fixed;
  max-width: $imgMaxWidth;
  max-height: $imgMaxHeight;
}

.photoViewCaption {
  position: fixed;
  width: 100vw;
  height: 15vh;
  //max-width: $imgMaxWidth;
  //max-height: 10vh;
  bottom: 0;
  color: white;
  font-size: $font-size-4m4;
  background: linear-gradient(rgba(0, 0, 0, 0.2), black);
  text-align: center;
}