@import "../util-variables";

.loginMainWrapper {
  background-color: var(--main-background);;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  height: 100vh;
  margin: 0 10vw;
  max-width: $max-width;
}


.loginH3 {
  display: flex;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

input,
input::placeholder {
  font-size: $font-size-4m4;
}

@value inputFieldHeight: 8vw;

.loginInputEmail {
  display: flex;
  border-radius: $medium-round-border;
  height: inputFieldHeight;
  margin-bottom: 5vw;
}

.loginInputPassword {
  display: flex;
  height: inputFieldHeight;
  border-radius: $medium-round-border;
}

.loginDescriptionP {
  color: var(--text-light-gray-color);
}

.submitButton {
  background-color: var(--primary-color);
  border: $heavy-border-size $border-color solid;
  border-radius: $heavy-round-border;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  height: inputFieldHeight;
}

.loginBreakLine {
  align-self: center;
  position: relative;
  color: var(--input-line-color);
  width: 80vw;
  font-size: $font-size-3m3;
  text-align: center;
}

.loginBreakLineWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vw;
}

$separatorLineWidth: 30vw;
$positionLength: 130%;
.loginBreakLineBefore {
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--input-line-color);
}

.loginBreakLineAfter {
  width: 100%;
  border-bottom: solid 1px var(--input-line-color);
}