@import "util-variables";

@value paddingValue: 2em;

@value fontSizeInput: #{$font-size-2m2};

@value borderThickness: 1px;

.accountSettingsMainWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: paddingValue paddingValue 0 paddingValue;
  overflow-y: scroll;
}

.accountSettingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(#{$max-width} - 16rem);
  max-width: $max-width;
}

.accountSettingsH3 {
  font-size: $font-size-5m2-5;
  color: var(--text-medium-color);
  margin-top: 1em;
}

.addMissionTitleH3 {
  color: var(--text-medium-color);
  font-size: fontSizeInput;
  font-weight: $font-weight-light;
}

%inputBasics {
  border: none;
  border-bottom: borderThickness var(--input-line-color) solid;
  margin-bottom: 1em;
}

.inputOneLine {
  @extend %inputBasics;
  font-size: $font-size-3m2;
}

.accountAddressTitle {
  margin: 0 0 3vw 0;
  color: var(--text-medium-color);
  font-size: fontSizeInput;
  font-weight: $font-weight-light;
}

.accountAddress {
  @extend %inputBasics;
  font-size: $font-size-4m4;
}

.accountTextAreaWrapper {
  width: 100%;
  min-height: 15em;
}

.accountTextArea {
  border: borderThickness var(--input-line-color) solid;
  border-radius: 10px;
  font-size: $font-size-5m2-5;
  font-family: inherit;
  height: 100%;
  width: 100%;
  margin-bottom: 10vw;
}

.accountSaveButton {
  position: absolute;
  top: 0;
  right: 0;
}