@import "util-variables";

.mainComponentWrapper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
}

.componentWrapper {
  position: absolute;
  max-width: $max-width;
}
