@import "util-variables";

.missionMainWrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--background-gray);
  align-items: center;
  height: 100vh;
  width: 100%;
}

.missionWrapperComponent {
  max-width: $max-width;
  overflow-y: scroll;
}

/*
<ListWrapper>
  <PriceTypeSpan/>
  <TitleH3/>
  <InfoComponent>
    <DescriptionWrapper>
      <InfoP/> // height is fixed
      <Img/> // height is dynamic
    </DescriptionWrapper>
  </InfoComponent
  <ApplicantsShareButton/>
</ListWrapper>
*/
$missionWidth: 80%;
$totalHeight: 25vh;

.missionListWrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

@value locationTagFs: 1.5em;

@value priceTagFs: locationTagFs;

.missionTypeAndPriceWrapper {
  display: flex;
  width: $missionWidth;
  justify-content: space-between;
}

.missionList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background);
}

.missionTitleH3 {
  width: $missionWidth;
  color: var(--text-medium-color);
  background-color: cadetblue;
}

.missionDescriptionWrapper {
  flex-direction: column;
  color: var(--text-medium-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.missionInfoP {
  max-height: #{$totalHeight * 0.2};
  overflow: hidden;
  width: $missionWidth;
  background-color: aquamarine;
}

.missionInfoSoloP {
  max-height: #{$totalHeight * 0.3};
  overflow: hidden;
  width: $missionWidth;
  background-color: aquamarine;
  color: var(--text-medium-color);
}

.missionImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.missionImgWrapper {
  max-width: 100%;
  width: 100%;
}

.missionCardFooter {
  width: $missionWidth;
  display: flex;
  justify-content: space-between;
}

.missionApplicantsSpan {
  background-color: #66abff;
  color: var(--soldier-icon-color);
}

.missionShareButton {
  background-color: #b37cff;
  color: var(--soldier-icon-color);
}

$positionTop: 1vh;
.missionPriceSpan {
  align-self: flex-end;
  top: $positionTop;
  position: relative;
  color: var(--tagging-gray-color);
}

.missionTypeSpan {
  top: $positionTop;
  position: relative;
  color: var(--tagging-gray-color);
}