@import "util-variables";

.profileMainWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: fixed;
}

.profileMainComponent {
  display: flex;
  flex-direction: column;
  max-width: $max-width;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
}

.profileUpperInfoPartWrapper {
  margin: 0 4em;
}

.profileInfoWrapper {
  border: $border-thickness solid #757474;
  display: flex;
}

.profileInfo {
  border: $border-thickness solid white;

  h3 {
    font-size: $font-size-3m2;
    color: var(--text-medium-color);
  }

  p {
    font-size: $font-size-2-5m1-3;
    color: var(--text-light-gray-color);
  }
}

.titleFilterWrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;

  h3 {
    font-size: $font-size-4m4;
    color: var(--text-medium-color);
  }

  button {

  }
}

.profileGalleryH3 {
  margin: 1em 0 0 1em;
  font-size: $font-size-4m4;
  color: var(--text-medium-color);
}

.profileReviewButtonWrapper {
  border: $border-thickness solid white;
  display: flex;
  justify-content: space-between;
  margin: 4vw 2vw;

  button {
    border: $border-thickness solid black;
  }

  span {

  }
}

.profileImage {
  border-radius: 100%;
  height: 10em;
  width: 10em;
}

$grid-gap-profile-mission: 2vw;
.profileMissionsBackground {
  background-color: var(--background-gray);
  padding: $grid-gap-profile-mission;
}

.profileMissionsMainWrapper {
  display: grid;
  grid-gap: $grid-gap-profile-mission;
  grid-template-columns: auto auto;
  justify-content: center;
  overflow-x: hidden;
}

.profileMissionsWrapper {
  border-radius: $border-radius-light;
  border: $border-thickness var(--text-medium-color) solid;
  background-color: var(--main-background);
  padding: 1em;
  display: flex;
  flex-direction: column;
}

@value statusTagFs: 1.2em;

@value priceTagFs: calc(statuslTagFs + 0.3em);

.profileMissionsStatusPriceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.profileMissionsH4 {
  margin: 2vw 0;
}

.profileMissionsP {
  display: -webkit-box;
  height: auto;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@value applicantSize: 1.3em;

.profileMissionsMomentMainWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

$grid-gap-gallery: 3em;
$gallery-image-width: 10em;
.profileGalleryWrapper {
  width: 100%;
  background-color: var(--background-gray);
}

.profileGalleryImageMainWrapper {
  display: grid;
  grid-gap: $grid-gap-gallery;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 1fr;
  justify-content: center;
  margin: $grid-gap-gallery;
  overflow-x: hidden;
}

.profileGalleryImageWrapper {
  height: 10em;
}

@value rankWidth: 3.6em;

.profileNameRankWrapper {
  display: flex;
  flex-direction: row;
}

.profileGalleryImage {
  object-fit: cover;
  border-radius: 1em;
  width: 100%;
  height: 100%;
}