// font size
$font-size-5m2-5: calc(min(5vw, 2.5rem));
$font-size-4m4: calc(min(4vw, 2rem));
$font-size-10m10: calc(min(10vw, 10rem));
$font-size-3m2: calc(min(3vw, 2rem));
$font-size-2-5m1-3: calc(min(2.5vw, 1.3rem));
$font-size-2m2: calc(min(2.8vw, 2rem));
$font-size-2m1: calc(min(2vw, 1rem));
$font-size-1m1: calc(min(1vw, 1rem));
// font weight
$font-weight-light: 100;
$font-weight-heavy: 900;

// color
$primary-colour: #3462ed;
$primary-green-colour: #4bb543;
$tag-gray-colour: #ababab;
$border-color: #1d1d1d;

// height
$h-height: 5vh;

// position
$main-component-top: 10vh;

// border
$medium-round-border: 0.5em;
$light-round-border: 0.3em;
$heavy-round-border: 1.5em;
$heavy-border-size: 0.8vw;

// border thickness
$border-thickness: 0.3em;
$border-radius-light: 0.6em;

// padding value
$padding-value-8: 8vw;
$padding-value-2: 2vw;

// size
$profile-img-medium: 8vw;

// width value
$max-width: 50rem;
@value max-width: 50rem;