@import "../util-variables";

.missionMainWrapper {
  display: flex;
  flex-direction: column;

  background-color: var(--background-gray);
  overflow-y: scroll;
  height: 100vh;
}

.missionSecondWrapperDiv {
  min-height: 110vh;
}

/*
<ListWrapper>
  <PriceTypeSpan/>
  <TitleH3/>
  <InfoComponent>
    <DescriptionWrapper>
      <InfoP/> // height is fixed
      <Img/> // height is dynamic
    </DescriptionWrapper>
  </InfoComponent
  <ApplicantsShareButton/>
</ListWrapper>
*/
$missionWidth: 80%;
$totalHeight: 25vh;

.missionListWrapper {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.missionTypeAndPriceWrapper {
  display: flex;
  width: $missionWidth;
  justify-content: space-between;
}

.missionList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background);
}

.missionTitleH3 {
  width: $missionWidth;
  color: var(--text-medium-color);
  background-color: cadetblue;
}

.missionDescriptionWrapper {
  flex-direction: column;
  color: var(--text-medium-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: #{$totalHeight * 0.6};
  overflow: hidden;
}

.missionInfoP {
  height: #{$totalHeight * 0.1};
  overflow: hidden;
  width: $missionWidth;
  background-color: aquamarine;
}

.missionInfoSoloP {
  height: #{$totalHeight * 0.6};
  overflow: hidden;
  width: $missionWidth;
  background-color: aquamarine;
  color: var(--text-medium-color);
}

.missionImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.missionImgWrapper {
  height: #{$totalHeight * 0.5};
  max-width: 100%;
  width: 100%;
}

.missionCardFooter {
  width: $missionWidth;
  display: flex;
  justify-content: space-between;
}

.missionApplicantsSpan {
  background-color: #66abff;
  color: var(--soldier-icon-color);
}

.missionShareButton {
  background-color: #b37cff;
  color: var(--soldier-icon-color);
}

$positionTop: 1vh;
.missionPriceSpan {
  align-self: flex-end;
  top: $positionTop;
  position: relative;
  color: var(--tagging-gray-color);
}

.missionTypeSpan {
  top: $positionTop;
  position: relative;
  color: var(--tagging-gray-color);
}