@import "../index";
@import "../util-variables";

@value paddingValue: $padding-value-10;

@value fontSizeInput: $font-size-5;

@value borderThickness: 1px;

.accountSettingsMainWrapper {
  height: 100vh;
  padding: paddingValue paddingValue 0 paddingValue;
  overflow-y: scroll;
}

.accountSettingWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.accountSettingsH3 {
  font-size: $font-size-5m5;
  color: var(--text-medium-color);
}

.accountTitleH3 {
  margin: 0;
  color: var(--text-medium-color);
  font-size: fontSizeInput;
  font-weight: $font-weight-light;
}

%inputBasics {
  border: none;
  border-bottom: borderThickness var(--input-line-color) solid;
  margin-bottom: 10vw;
}

.accountInfoInput {
  @extend %inputBasics;
  font-size: $font-size-5m5;
}

.accountAddressTitle {
  margin: 0 0 3vw 0;
  color: var(--text-medium-color);
  font-size: fontSizeInput;
  font-weight: $font-weight-light;
}

.accountAddress {
  @extend %inputBasics;
  font-size: $font-size-4m4;
}

.accountTextAreaWrapper {
  width: 100%;
  height: 30vw;
  margin-bottom: 30vw;
}

.accountTextArea {
  border: borderThickness var(--input-line-color) solid;
  border-radius: 10px;
  font-size: $font-size-5m5;
  font-family: inherit;
  height: 100%;
  width: 100%;
  margin-bottom: 10vw;
}

.accountSaveButton {
  position: absolute;
  top: 0;
  right: 0;
}