@import "../util-variables";

.reviewsMainWrapper {
  background-color: var(--background-gray);
  min-height: 100vh;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}

.reviewsTitleWrapper {
  background-color: var(--main-background);
  color: var(--text-medium-color);
  display: flex;
  padding: 0 $padding-value-8;
}

.reviewsContentWrapper {
  background-color: var(--background-gray);
  padding: $padding-value-8 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Review Card object
.profileReviewWrapper {
  overflow: hidden;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  min-height: 15vw;
  border-radius: $border-radius-light;
  padding: $padding-value-2;
  width: 80vw;
}

.profileReviewReviewerWrapper {
  display: flex; // flex-direction: row default
  justify-content: flex-start;
  height: 100%;
}

.profileReviewNameRatingWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profileRevReviewerWrapper {
  display: flex;

  h2 {
    margin: 0;
    font-size: $font-size-4m4;
  }
}

.profileReviewIconWrapper {
  width: 5vw;
  position: relative;
  //margin-left: 2vw;
}

.profileReviewImgWrapper {
  overflow: hidden;
  border: ($border-thickness*3 / 4) solid #282c34;
  border-radius: 50%;
  height: $profile-img-medium * 0.9;
  width: $profile-img-medium;
  margin-right: 2vw;
}

.profileReviewImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.profileReviewRatingWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4vw;
  width: 100%;
}

.profileReviewRatingIconWrapper {
  width: 3vw;
  position: relative;
  margin-right: 1vw;
}

.profileReviewRatingSpan {
  font-size: $font-size-2-5m5;
  text-align: center;
}

.profileReviewTimeSpan {
  font-size: $font-size-2-5m5;
  margin: 0 2vw;
  min-width: 20vw;
}

.profileReviewMission {
  text-decoration: none;
  color: var(--text-medium-color);
  width: 37vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: $font-weight-heavy;
}

.profileReviewP {
  font-size: 1.8vw;
  overflow-y: hidden;
  position: relative;
}