@import "../util-variables";

.profileMainDiv {
  border: $border-thickness solid white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
}

.profileUpperInfoPartWrapper {
  margin: 0 4em;
}

.profileInfoWrapper {
  border: $border-thickness solid #757474;
  display: flex;
}

.profileInfo {
  border: $border-thickness solid white;

  h3 {
    font-size: $font-size-3m3;
    color: var(--text-medium-color);
  }

  p {
    font-size: $font-size-2-5m5;
    color: var(--text-light-gray-color);
  }
}

.titleFilterWrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;

  h3 {
    font-size: $font-size-4m4;
    color: var(--text-medium-color);
  }

  button {

  }
}

// TODO fix fonts, margin size, and profile width
.profileGalleryH3 {
  margin: 1em 0 0 1em;
  font-size: $font-size-4m4;
  color: var(--text-medium-color);
}

.profileReviewButtonWrapper {
  border: $border-thickness solid white;
  display: flex;
  justify-content: space-between;
  margin: 4vw 2vw;

  button {
    border: $border-thickness solid black;
  }

  span {

  }
}

.profileImage {
  border-radius: 50%;
  height: 20vw;
}

$grid-gap-profile-mission: 2vw;
.profileMissionsBackground {
  margin: 0;
  background-color: var(--background-gray);
  padding: $grid-gap-profile-mission;
  height: auto;
}

.profileMissionsMainWrapper {
  display: grid;
  grid-gap: $grid-gap-profile-mission;
  grid-template-columns: auto auto;
  justify-content: center;
  overflow-x: hidden;
}

.profileMissionsWrapper {
  border-radius: $border-radius-light;
  border: $border-thickness var(--text-medium-color) solid;
  background-color: var(--main-background);
  padding: 2vw;
  display: flex;
  flex-direction: column;
}

.profileMissionsStatusPriceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.profileMissionsH4 {
  margin: 2vw 0;
}

.profileMissionsP {
  margin: 0;
}

.profileMissionsP::after {

}

$grid-gap-gallery: 5vw;
.profileGalleryWrapper {
  width: 100%;
  margin: 0;
  background-color: var(--background-gray);
}

.profileGalleryImageMainWrapper {
  display: grid;
  grid-gap: 5vw;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin: $grid-gap-gallery;
  overflow-x: hidden;
}

.profileGalleryImageWrapper {
  border-radius: $border-radius-light;
  overflow: hidden;
  height: 20vw;
}

.profileNameRankWrapper {
  display: flex;
  flex-direction: row;
}

.profileGalleryImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}