@import "../util-variables";

.headerStyle {
  height: $h-height;
  display: flex;
  position: fixed;
  width: 100%;
  transition: top 0.1s;
  z-index: 1;
  background-color: var(--main-background);
}

.headerH3Wrapper {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  height: 100%;

  h3 {
    color: var(--text-medium-color);
    margin-bottom: $header-pointer-height;
  }
}

.spanStyle {
  align-self: flex-end;
}

.headerPointer {
  height: $header-pointer-height;
  width: 50vw;
  background-color: var(--primary-color);
  align-self: flex-end;
}